* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* NAV BAR */

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navheader {
    padding: 0.2rem 1rem;
}

.navheader:hover {
    text-decoration: underline;
}

.header a {
    text-decoration: none;
}

.signupbutton {
    border: 2px solid #EE6C4D;
    border-radius: 3rem;
    padding: 0.2rem 1rem;
}

.signupbutton a {
    color: #EE6C4D;
}

.signupbutton:hover {
    background-color: #EE6C4D;
}

.signupbutton a:hover {
    color: #293241;
}

.loginbutton {
    border: 2px solid #EE6C4D;
    background-color: #EE6C4D;
    border-radius: 3rem;
    padding: 0.2rem 1rem;
}

.loginbutton a {
    color: #293241;
}

.loginbutton:hover {
    border: 2px solid #EE6C4D;
    background-color: #fff;
}

.loginbutton a:hover {
    color: #EE6C4D;
}

/* SIGN UP PAGE */

.signup {
    text-align: center;
}

.signupform {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.signupusername {
    padding: 15px 25px;
    text-align: center;
}

.signupemail {
    padding: 15px 25px;
    text-align: center;
}

.signuppassword {
    padding: 15px 25px;
    text-align: center;
}

.signupformbutton {
    padding: 15px 25px;
    text-align: center;
}

.signupformbutton button {
    border: 1px solid #e0fbfc;
    border-radius: 3rem;
    padding: 10px 20px;
    background-color: #e0fbfc;
    font-size: 20px;
}

.signupformbutton button:hover {
    background-color: #293241;
    color: #e0fbfc;
}

.labelsignup {
    display: block;
}

/* LOGIN PAGE */

.labellogin {
    display: block;
}

.loginform {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.usernamelogin {
    padding: 15px 25px;
    text-align: center;
}

.passwordlogin {
    padding: 15px 25px;
    text-align: center;
}

.loginformbutton {
    padding: 15px 25px;
    text-align: center;
}

.loginformbutton button {
    border: 1px solid #e0fbfc;
    border-radius: 3rem;
    padding: 10px 20px;
    background-color: #e0fbfc;
    font-size: 20px;
}

.loginformbutton button:hover {
    background-color: #293241;
    color: #e0fbfc;
}

.login {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #293241;
    padding: 7px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    color: #e0fbfc;
}

footer ul a:hover {
    text-decoration: underline;
}

footer label {
    color: #e0fbfc;
}

/* IMAGE PAGE */

.imagecard {
    width: 100%;
    height: 30%;
}

/* ABOUT US PAGE */

.aboutus {
    text-align: center;
}

.timeline-header {
    color: #fff;
    text-align: center;
}

.aboutustimeline {
    background-color: #293241;
}

.timeline {
    position: relative;
    max-width: 100vh;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #E0FBFC;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.aboutuscontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.aboutuscontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #e0fbfc;
    border: 4px solid #EE6C4D;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #e0fbfc;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e0fbfc;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #e0fbfc;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e0fbfc transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: #e0fbfc;
    position: relative;
    border-radius: 6px;
}

/* HOME PAGE / IMAGE PAGE */

.index1 {
    height: 100vh;
}

.hero-image {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/collagehobby.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text a {
    text-decoration: none;
    color: #293241;
    border: 2px solid #EE6C4D;
    background-color: #EE6C4D;
    border-radius: 3rem;
    padding: 0.2rem 1rem;
}

.meettheteam,
.meettheteam:after,
.meettheteam:before {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #293241;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }

    .timeline::after {
        left: 31px;
    }

    .aboutuscontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .aboutuscontainer::before {
        left: 60px;
        border: medium solid #e0fbfc;
        border-width: 10px 10px 10px 0;
        border-color: transparent #e0fbfc transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .column {
        width: 100%;
        display: block;
    }

    .timeline::after {
        left: 31px;
    }

    .aboutuscontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .aboutuscontainer::before {
        left: 60px;
        border: medium solid #e0fbfc;
        border-width: 10px 10px 10px 0;
        border-color: transparent #e0fbfc transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}